.body-container {
    overflow: hidden;

    // padding-top: 67px;
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;

        @media only screen and (max-width: 1300px) {
            max-width: none;
            margin: 0 auto;
            padding: 0 80px;
        }

        @media only screen and (max-width: 1024px) {
            padding: 0 60px;
        }

        @media only screen and (max-width: 768px) {
            padding: 0 30px;
        }
    }

    .fixed-nav {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 16px 0 17px;
        z-index: 100;
        max-height: 65px;
        overflow: hidden;

        @media only screen and (max-width: 1024px) {
            padding: 0;
            position: fixed;
            top: 0;
            left: 0;
            height: 65px;
            background-color: transparent;
        }

        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;

            &.nav-desktop {
                @media only screen and (max-width: 1024px) {
                    display: none;
                }
            }
        }

        .nav-mobile {
            display: none;
            z-index: 100;

            @media only screen and (max-width: 1024px) {
                display: flex;
                padding: 15px 30px;
                background-color: rgba(255, 255, 255, 0.8);
                align-items: center;
                // position: fixed;
                // top: 0;
                // right: 0;
                width: 100%;
            }

            .logo-sec {
                z-index: 100;

                img {
                    width: 110px;
                }
            }

            .hamburger-wrapper {
                margin-left: auto;
                z-index: 101;

                .hamburger .line {
                    width: 25px;
                    height: 2px;
                    background-color: #0A2296;
                    display: block;
                    margin: 6px auto;
                    transition: all 0.3s ease-in-out;
                }

                .hamburger:hover {
                    cursor: pointer;
                }

                /* ONE */

                #hamburger-1._active .line:nth-child(2) {
                    opacity: 0;
                }

                #hamburger-1._active .line:nth-child(1) {
                    transform: translateY(3px) rotate(45deg);
                }

                #hamburger-1._active .line:nth-child(3) {
                    transform: translateY(-13px) rotate(-45deg);
                }
            }

            .nav-mobile-list {
                position: fixed;
                top: 0;
                right: 0;
                width: 300px;
                height: 100vh;
                z-index: 100;
                background-color: rgba(255, 255, 255, 1);
                transform: translateX(300px);
                transition: transform 0.5s ease;
                padding: 150px 10px 150px 30px;

                nav {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    span {
                        margin-bottom: 30px;
                        text-align: center;
                        padding: 0 5px 5px;
                    }

                    .btn {
                        background-color: #10183C;
                        border-radius: 30px;
                        padding: 14px 32px 16px;
                        line-height: 1;
                        color: $white;
                    }

                    ul li {
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: -0.01em;
                        color: #10183C;
                        text-align: center;
                        margin-bottom: 15px;

                        @media only screen and (max-width: 1024px) {
                            margin-bottom: 30px;
                        }
                    }
                }

                &._active {
                    transform: translateX(00px);
                    transition: transform 0.5s ease;
                }
            }
        }

        .logo {
            img {
                width: 150px;
            }
        }

        .nav-list {
            display: flex;
            margin-left: auto;
            align-items: center;
            justify-content: center;

            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 32px;

                    li {
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: -0.01em;
                        color: #10183C;
                        cursor: pointer;
                        padding: 8px 0px 5px;

                        // border-bottom: 2px solid transparent;
                        .nav-text {
                            padding: 0 15px;
                        }

                        &:after {
                            content: '';
                            display: block;
                            margin: auto;
                            height: 3px;
                            margin-top: 17px;
                            width: 0px;
                            background: transparent;
                            transition: width .5s ease, background-color .5s ease;
                        }

                        &:hover:after {
                            width: 100%;
                            margin: 17px auto 0;
                            background: #10183C;
                        }

                        &._active {
                            &:after {
                                width: 100%;
                                margin: 17px auto 0;
                                background: #10183C;
                            }
                        }
                    }
                }
            }
        }
    }

    .event-banners {
        padding: 35px 0 0;

        @media only screen and (max-width: 1024px) {
            padding: 64px 0 48px;
        }

        .wrapper {
            overflow: visible;
        }

        .title-sec {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.01em;
            margin-bottom: 10px;
            color: $black;
        }

        .slick-list {
            padding: 0 10% 0 0;
            overflow: visible;

            img {
                width: 100%;
            }

            @media only screen and (max-width: 1300px) {
                padding: 0 5% 0 0;
            }
        }

        .next-arrow-container {
            position: absolute;
            top: -78px;
            cursor: pointer;
            right: 0;
            left: auto;

            @media only screen and (max-width: 767px) {
                top: auto;
                bottom: -78px;
                right: auto;
                left: 100px;
            }
        }

        .prev-arrow-container {
            position: absolute;
            top: -78px;
            cursor: pointer;
            left: 0;
            right: 100px;
            transform: rotate(180deg);

            @media only screen and (max-width: 767px) {
                top: auto;
                bottom: -78px;
                left: 0;
                right: auto;
            }
        }

        .event-banner-slick {
            .event-slide {

                // margin-right: 30px;
                a {
                    display: block;
                }

                img {
                    // max-width: 1056px;
                    width: 100%;
                }
            }
        }
    }

    .upcoming-events,
    .passed-events {
        padding: 50px 0 0px;

        @media only screen and (max-width: 1024px) {
            padding: 0px 0 20px;
        }

        .title-sec {
            display: flex;
            margin-bottom: 15px;

            @media only screen and (max-width: 1024px) {
                display: block;
            }

            h2 {
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: -0.01em;
                color: $black;
            }

            .toggle-container {
                margin-left: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                @media only screen and (max-width: 1024px) {
                    justify-content: flex-start;
                    margin: 15px 0;
                }

                .toggle-text-left,
                .toggle-text-right {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #A0A4A8;

                    &._active {
                        color: #10183C;
                    }

                }

                .toggle-text-left {
                    margin-right: 7px;
                }

                .toggle-text-right {
                    margin-left: 10px;
                }

                input[type=checkbox] {
                    height: 0;
                    width: 0;
                    visibility: hidden;
                }

                label {
                    cursor: pointer;
                    text-indent: -9999px;
                    width: 36px;
                    height: 20px;
                    background: grey;
                    display: block;
                    border-radius: 100px;
                    position: relative;
                }

                label:after {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 16px;
                    height: 16px;
                    background: #fff;
                    border-radius: 90px;
                    transition: 0.3s;
                }

                input:checked+label {
                    background: #10183C;
                }

                input:checked+label:after {
                    left: calc(100% - 18px);
                    // transform: translateX(-100%);
                }
            }

            // .btn-list {
            //     margin-left: auto;
            //     display: flex;
            //     align-items: center;
            //     @media only screen and (max-width: 767px) {
            //         max-width: 400px;
            //         margin: 26px auto 0;
            //         display: block;
            //     }
            //     .btn {
            //         padding: 16px;
            //         background: #FFFFFF;
            //         border: 1px solid #A0A4A8;
            //         border-radius: 6px;
            //         margin-left: 15px;
            //         cursor: pointer;
            //         @media only screen and (max-width: 767px) {
            //             display: block;
            //             margin-left: 0;
            //             text-align: center;
            //         }
            //         &._active {
            //             background: #10183C;
            //             border: 1px solid #10183C;
            //             color: $white;
            //         }
            //         &:first-child {
            //             margin-left: 0;
            //             @media only screen and (max-width: 767px) {
            //                 margin-bottom: 15px;
            //             }
            //         }
            //         &:last-child {
            //             @media only screen and (max-width: 767px) {
            //                 margin-bottom: 36px;
            //             }
            //         }
            //     }
            // }
        }

        .upcoming-event-list,
        .passed-event-list {
            display: grid;
            grid-template-columns: repeat(3, 30%);
            grid-column-gap: 5%;

            @media only screen and (max-width: 820px) {
                grid-template-columns: repeat(2, 45%);
                grid-column-gap: 10%;
            }

            @media only screen and (max-width: 600px) {
                grid-template-columns: 1fr;
                grid-column-gap: 0%;
            }

            .event-slide {
                margin-bottom: 50px;
                cursor: pointer;

                .img {
                    img {
                        width: 100%;
                    }
                }

                .event-title {
                    font-weight: 700;
                    font-size: 20.7059px;
                    line-height: 29px;
                    color: #101828;
                    margin: 16px 0 10px;
                    // min-height: 58px;

                    // @media only screen and (max-width: 600px) {
                    //     min-height: auto;
                    // }
                }

                .desc {
                    font-weight: 400;
                    font-size: 14.3851px;
                    line-height: 22px;
                    color: #667085;
                    margin: 10px 0;
                }

                .location {
                    font-size: 12.587px;
                    line-height: 18px;
                    color: $black;

                    // .text-bold {
                    //     color: $black;
                    //     font-weight: 700;
                    //     color: rgba(0, 0, 0, 0.8);
                    // }
                }

                &._hidden {
                    display: none;
                }
            }
        }
    }

    .passed-events {
        padding-top: 0;
        .event-slide {
            cursor: default!important;
        }
    }

    .footer {
        // background-image: url('../../img/contactus-1.webp');
        background-size: cover;
        background-position: center;
        padding: 55px 0 58px;
        background-color: #E5E3F5;
        overflow: hidden;
        position: relative;

        @media only screen and (max-width: 1024px) {
            // background: none;
            padding: 35px 0;
        }

        .pattern {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;

            @media only screen and (max-width: 1024px) {
                display: none;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        .footer-wrapper {
            display: flex;
            flex-direction: row;

            @media only screen and (max-width: 1024px) {
                flex-direction: column;
                align-items: center;
            }

            .logo-container {
                @media only screen and (max-width: 1024px) {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }

                .logo {
                    margin-bottom: 50px;

                    @media only screen and (max-width: 1024px) {
                        margin-bottom: 25px;
                    }

                    img {
                        width: 150px;
                    }
                }

                .mail-link {
                    margin-top: 16px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;

                    @media only screen and (max-width: 1024px) {
                        margin-top: 10px;
                    }
                }
            }

            .social-links {
                margin-left: auto;
                display: flex;
                // justify-content: center;
                flex-direction: column;

                @media only screen and (max-width: 1024px) {
                    margin: 30px 0 0;
                }

                .links {
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    align-items: center;
                    justify-content: center;

                    li {
                        img {
                            width: 26px;

                            @media only screen and (max-width: 1024px) {
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }

        .with-love {
            text-align: right;
            margin-top: 63px;

            @media only screen and (max-width: 1024px) {
                margin-top: 30px;
            }

            .heartbeat {
                img {
                    animation: beat .5s infinite alternate;
                    transform-origin: center;
                }
            }
        }

        .by-founders {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-top: 15px;
            text-align: right;

            @media only screen and (max-width: 1024px) {
                text-align: center;
            }
        }
    }
}

@keyframes beat {
    to {
        transform: scale(1.2);
    }
}

// .parallax-wrapper {
//     overflow-y: hidden;
// }

// .parallax {
//     background-image: url('https://placeimg.com/1000/400/tech');
//     background-size: cover;
//     background-position: center;
//     height: 100%;
// }

.rsvp-modal {
    width: 100%;
    padding-top: 0;

    .w3-modal-content {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        max-height: 100vh;
        overflow-y: scroll;

        @media only screen and (max-width: 604px) {
            max-height: 80vh;
            margin: 80px auto 0;
        }

        .w3-display-topright {
            font-size: 40px;
            &:hover {
                background-color: #fff !important;
            }
        }
    }

    @media only screen and (max-width: 1300px) {
        max-width: none;
        margin: 0 auto;
        padding: 0 80px;
    }

    @media only screen and (max-width: 1024px) {
        padding: 0 60px;
    }

    @media only screen and (max-width: 768px) {
        padding: 0 30px;
    }
}

.rsvp-modal-container {
    padding: 44px 20px 0;
    text-align: center;

    @media only screen and (max-width: 768px) {
        padding: 44px 10px 0;
    }

    .modal-wrapper {
        max-width: 480px;
        margin: 0 auto;

        .modal-title {
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 42px;
            line-height: 54px;
            color: #10183C;
        }

        .modal-sub-title {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            letter-spacing: -0.01em;
            color: #10183C;
        }

        .event-details {
            padding: 10px 21px;
            background: rgba(16, 24, 60, 0.05);
            border: 1px solid #D0D5DD;
            border-radius: 12px;
            margin: 42px 0 32px;

            .event-title {
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: -0.01em;
                color: rgba(16, 24, 60, 0.8);
            }

            .event-location {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 12.587px;
                line-height: 18px;
                color: rgba(0, 0, 0, 0.8);
            }
        }

        .form-container {
            margin-top: 35px;

            .form-grid {
                display: grid;
                grid-template-columns: repeat(2, 47%);
                grid-column-gap: 6%;
            }

            .input-container {
                margin-bottom: 33px;

                input, select {
                    width: 100%;
                    border: none;
                    background-image: none;
                    background-color: transparent;
                    box-shadow: none;
                    padding: 12px 16px;
                    background: #FFFFFF;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    box-sizing: border-box;
                    &._error {
                        border: 1px solid red;
                    }
                }

                select {
                    border: 0;
                }

                button {
                    width: 100%;
                    border: none;
                    background-image: none;
                    background-color: transparent;
                    box-shadow: none;
                    background: #10183C;
                    border: 1px solid #7F56D9;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                    padding: 12px 30px;
                    cursor: pointer;
                    margin-top: 30px;
                }

                .merged-inputs {
                    display: grid;
                    grid-template-columns: 80px calc(100% - 80px);
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    position: relative;
                    &._error {
                        border: 1px solid red;
                    }
                    &::before {
                        content: '';
                        width: 29px;
                        height: 0px;
                        left: 68px;
                        top: 7px;
                        border: 1px solid #BEBEBE;
                        transform: rotate(90deg);
                        position: absolute;
                        top: 22px;
                        left: 66px;
                    }
                    input {
                        border: 0;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.success-modal {
    text-align: center;

    @media only screen and (max-width: 768px) {
        padding-top: 150px;
    }

    .w3-container {
        padding: 38px 82px;
        border-radius: 12px;

        @media only screen and (max-width: 768px) {
            padding: 38px 22px;
        }
    }

    .w3-modal-content {
        max-width: 549px;
        margin: 0 auto;

        @media only screen and (max-width: 768px) {
            width: 80%!important;
        }
        .w3-display-topright {
            font-size: 40px;
            &:hover {
                background-color: #fff !important;
            }
        }
    }
    .success-msg {
        max-width: 384px;
        margin: 25px auto 0;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #10183C;
    }
}