$black: #000000;
$white: #ffffff;

.full-stretch {
    width: 100vw;
    height: 100vh;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

// Helpers
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.align-center {
    text-align: center;
}